@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html,
body,
#root,
.App {
  height: 100%;
  min-width: 500px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-logo {
  height: 40min;
  pointer-events: none;
}

:root {
  --white:#fffff7;
  --primary-color-x2: #17181a;
  --primary-color: #25282A;
  --primary-color-70: #25282a9f;
  --primary-color-50: #25282a62;
  --primary-color-20: #25282a3b;
  --primary-color-10: #25282a15;
  --secondary-color: #61eed6;
  --regular-mg: 20px;
  --font-fam: "Rubik", sans-serif;
  --font-XL: 22pt;
  --font-M: 12pt;
  --font-S: 10pt;
}


h1 {
  font-family: var(--font-fam);
  color: var(--primary-color);
  font-size: var(--font-XL);
}

h3 {
  font-family: var(--font-fam);
  color: var(--primary-color);
  font-size: var(--font-M);
  font-weight: 500;
  text-align: left;
}

p,label {
  font-family: var(--font-fam);
  margin: 0;
  font-size: var(--font-S);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-fam);
}

.Header .container {
  width: 100%;
  padding: 0 2% 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header .container div {
  display: flex;
  height: fit-content;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.Canvas {
  width: 100%;
  height: 90%;
  flex: 1;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--primary-color-50);
}

.Workspace {
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  flex: 3;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
}

.Header {
  background-color: var(--white);
  display: flex;
  border: 1px solid var(--primary-color-20);
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 15px 0;
}

.Interactions {
  display: inline-block;
  background-color: var(--white);
  width: 250px;
  border-radius: 5px;
  height: 100%;
  vertical-align: middle;
  min-width: 250px;
  padding: 20px;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 3px var(--primary-color-20));
  overflow: auto;
}

.History {
  margin: 10px 0 0 0;
}

.History img {
  width: 100%;
  object-fit: contain;
}

.Interactions p {
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
}

.Interactions input {
  width: 100%;
  margin-bottom: 10px;
}

.Resultado {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Resultado table {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.Resultado img {
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 3px var(--primary-color-20));
}


.Resultado .Imagen>img {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 3px var(--primary-color-20));
}

.Workspace .Loader {
  position: absolute;
  display: block;
  top: 45%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform-origin: 0%;
  width: 50px;
  z-index: 1;
  height: 50px;
}

.Loader {
  background-color: blue;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Colors {
  flex-direction: column;
  width: 500px;
  height: fit-content;
}

.Checkbox {
  fill: transparent;
  text-shadow: none;
  width: 5%;
  height: 20px;
  display: inline-block;
}

.picked {
  fill: var(--white);
  stroke-width: 5px;
  stroke: var(--primary-color-70);
  box-sizing: border-box;
}

.Resultado td {
  text-align: right;
  vertical-align: top;
}

.Panel {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-20);
  filter: drop-shadow(-2px 2px 3px var(--primary-color-20));
  border-radius: 5px;
  width: 250px;
  height: 100%;
  max-height: 100%;
  vertical-align: middle;
  max-width: 250px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}

#Register-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: var(--white);
  gap: 15px;
}

.Register {
  background-image: url('../src/images/login_wall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 200px 0px;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
}

.Register input {
  width: 200px;
}

.Panel h1 {
  margin-top: 0;
}

.Imagen {
  box-sizing: border-box;
  margin: 10px;
  text-align: left;
  width: 100%;
  position: relative;
}

.Imagen>a>img {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.Imagen-btn {
  height: fit-content;
  position: absolute;
  top: 0;
}

.Imagen-btn button {
  width: fit-content;
  height: fit-content;
  background-color: var(--white);
}

.Imagen-btn img {
  object-fit: contain;
  width: 15px;
  height: 15px;
}

.Result-empty {
  height: 100%;
  width: 100%;
  background-image: url('./images/placeholder.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Tabla-btn {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Tabla-btn tbody {
  width: 100%;
  height: 100%;
  background-color: #61dafb;
  display: inline-block;
}

.Tabla-btn tr {
  width: 100%;
  height: 50%;
  background-color: #61dafb;
  display: inline-block;
}

#LoaderFather {
  display: none;
  height: 20px;
  width: 100%;
  filter: drop-shadow(0px 2px 3px var(--primary-color-20));
  border-radius: 20px;
  background-color: var(--primary-color-10);
  margin-bottom: 10px;
}

#LoaderSon {
  text-align: center;
  color: var(--white);
  height: 100%;
  width: 10%;
  animation: changeColor 1s infinite ease-in-out;
  border-radius: 20px;
}

#error-login,
#error-prompt {
  color: red;
}

#btn-download {
  width: 100%;
  font-size: var(--font-S);
  font-weight: 500;
  color: var(--primary-color-70);
  bottom: 30px;
  position: absolute;
}

.TagContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.TagContainer button {
  width: fit-content;
  height: fit-content;
  margin: 1px;
}

.TagContainer .activeTag {
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--primary-color-20);
}

.login-container {
  background-image: url('../src/images/login_wall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 200px 0px;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background-color: var(--white);
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.login-container form {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  margin: 0 auto;
  gap: 15px;
}

.login-container p {
  width: 300px;
  margin: 50px;
}

.login-container input {
  width: 50%;
  margin: 0 auto;
}

.login-container .info-login {
  margin-top: 300px;
}

button {
  font-family: var(--font-fam);
  font-size: var(--font-S);
  background-color: var(--primary-color-20);
  color: var(--primary-color-70);
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid var(--white);
  margin: 5px;
  height: fit-content;
  width: 100px;
  padding: 7px;
  align-self: center;
}

button:hover {
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--primary-color-20);
}

textarea,
input {
  resize: none;
  border: none;
  background: none;
  border-bottom: 2px solid var(--primary-color-20);
  font-size: var(--font-S);
  font-family: var(--font-fam);
  outline: none;
}


select {
  font-family: var(--font-fam);
  background-color: var(--primary-color-20);
  color: var(--primary-color-70);
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid var(--white);
  margin: 5px;
  height: fit-content;
  width: 100%;
  padding: 7px;
  align-self: center;
}

.logo {
  width: 50px;
  height: 100%;
  object-fit: cover;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

.App-link {
  color: #61dafb;
}

@keyframes changeColor {
  0% {
    background-color: var(--primary-color-20);
    /* Color inicial */
  }

  50% {
    background-color: var(--secondary-color-50);
    /* Color secundario */
  }

  100% {
    background-color: var(--primary-color-70);
    /* Color inicial */
  }
}